
$bg-colour: rgb(50, 100, 120);

body {
  background-color: #232323;
  margin: 0;
  font-family: "Montserrat", "Avenir";

  h1 {
    color: white;
    line-height: 1.1;
    text-align: center;
    background-color: $bg-colour;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 0;

    span { // title random colour!
      font-size: 200%;
    }
  }

  .colour-square {
    width: 30%;
    background-color: green;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%
  }

  #container {
    margin: 0 auto;
    max-width: 700px;
  }
  span {
    color: white;
  }
  #stripe {
    background: white;
    height: 30px;
    text-align: center;

    span {
      color: black;
    }

  }

  .selected {
    background: blue;
  }
}
